@font-face {
  font-family: 'Neuzeit S LT Std';
  font-weight: 400;
  src: url('../../fonts/Neuzeit S LT Std Book.eot');
  src: url('../../fonts/Neuzeit S LT Std Book.woff2') format('woff2'),
       url('../../fonts/Neuzeit S LT Std Book.ttf') format('truetype');
}
