.form {
  @apply w-full;

  .form-group:not(:first-of-type) {
    margin-top: rem(24px);
  }

  .form-label {
    @apply block font-bold text-sm;
  }

  .form-input {
    @apply rounded w-full bg-input text-base border-0 focus:ring-0;

    height: rem(56px);
    margin-top: rem(8px);
  }

  .form-submit {
    @apply w-full;

    margin-top: rem(24px);
  }
}
