.form {
  @apply w-full;

  .form-group:not(:first-of-type) {
    margin-top: rem(24px);
  }

  .form-label {
    @apply block font-bold text-sm;
  }

  .form-input {
    @apply rounded w-full bg-input text-base border-0 focus:ring-0;

    height: rem(56px);
    margin-top: rem(8px);
  }

  .form-submit {
    @apply w-full;

    margin-top: rem(24px);
  }

  .form-error {
    &__list::before {
      @apply text-sm font-bold;

      content: 'Error';
    }

    &__list-item {
      @apply text-xs opacity-60;

      &:first-of-type {
        margin-top: rem(8px);
      }

      &::before {
        content: '·';

        margin-right: rem(4px);

        font-size: rem(46px);
        line-height: rem(18px);
        vertical-align: text-top;
      }
    }
  }

  .form-error + .form-group {
    margin-top: rem(32px);
  }
}
